@model IEnumerable<VMContacto>
@{
    ViewData["Title"] = "Index";
}

<h1>Listar</h1>

<div class="card">
    <div class="card-header">
        Listar Contactos
    </div>
    <div class="card-body">
        <a asp-action="Insertar" asp-controller="Contacto" class="btn btn-success">Crear nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaNacimiento)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Telefono</td>
                        <td>@item.FechaNacimiento</td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.IdContacto" class="btn btn-outline-warning btn-sm">Editar</a>
                            <a asp-action="Detalles" asp-route-id="@item.IdContacto" class="btn btn-outline-info btn-sm">Detalles</a>
                            <a asp-action="Borrar" asp-route-id="@item.IdContacto" class="btn btn-outline-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>